@model IEnumerable<CatProductos>

<li class="has-sub">
    <a asp-controller="Productos"
       asp-action="Index">
        <i class="fa fa-th-large"></i>
        <span class="bot-line"></span>Productos
    </a>
    <ul class="header3-sub-list list-unstyled">
        @foreach (var catproductos in Model)
        {
            <li>
                <a asp-controller="Productos" asp-action="ListaProductos"
                   asp-route-categoriaproducto="@catproductos.NombreCatProducto">@catproductos.NombreCatProducto</a>
            </li>
        }
        <li>
            <a asp-controller="Productos" asp-action="ListaProductos" asp-route-categoriaproducto="">Todos los Productos</a>
        </li>
    </ul>
</li>