@model HomeViewModel

@await Html.PartialAsync("CarruselHome")


<div class="text-center">
    <p class="text-center"><h2>Ofertas de la Semana</h2></p>
    <p class="text-primary">Seleccion de los mejores productos y precios para nuestros clientes</p>
</div>

<div class="row">
    
    @foreach (var productos in Model.ProductoOfertaSemana)
    {
        @Html.Partial("ProductosOfertaSemana", productos)

    }
</div>